</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © <%= `${year1}/${month1}/${day1} `%> <span class="time"><%= `${dayOfWeek} ${time1}` %></span></p>
</footer>
</body>

</html>