<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 4</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 ms-2">
      <div class="col-10 col-sm-8 col-lg-6">
        <% if (locals.name) { %>
        <h2 class="text-center text-danger"><%= name %></h2>
        <img
          src=" <%= image %> "
          class="d-block mx-lg-auto img-fluid"
          alt="amiibo"
          style="max-height: 400px"
          loading="lazy"
        />
        <% } %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-danger lh-1 mb-3">
          Choose your amiibo
        </h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <form method="post">
            <button
              type="submit"
              formaction="/link"
              class="btn btn-danger btn-lg px-4 me-md-2"
            >
              Link
            </button>
            <button
              type="submit"
              formaction="/zelda"
              class="btn btn-danger btn-lg px-4 me-md-2"
            >
              Zelda
            </button>
            <button
              type="submit"
              formaction="/samus"
              class="btn btn-danger btn-lg px-4 me-md-2"
            >
              Samus
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
