<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 4</title>
  </head>
  <body>
    <h1>Nintendo</h1>

    <form method="post">
      <button type="submit" formaction="/link">Link</button>
      <button type="submit" formaction="/zelda">Zelda</button>
      <button type="submit" formaction="/samus">Samus</button>
    </form>

    <% if (locals.name) { %>
    <h2><%= name %></h2>
    <img src=" <%= image %> " alt="Link" height="400" />

    <h4>
      Information: <br />
      <%= info %>
    </h4>
    <% } %>
  </body>
</html>
