<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 4</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div
        class="row d-flex flex-column flex-lg-row justify-content-center align-items-center g-5 py-5 text-center"
      >
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-danger lh-1 mb-3">
            Choose your amiibo
          </h1>
          <div class="gap-2">
            <form method="post">
              <button
                type="submit"
                formaction="/link"
                class="btn btn-danger btn-lg px-4"
              >
                Link
              </button>
              <button
                type="submit"
                formaction="/zelda"
                class="btn btn-danger btn-lg px-4 ms-2"
              >
                Zelda
              </button>
              <button
                type="submit"
                formaction="/samus"
                class="btn btn-danger btn-lg px-4 ms-2"
              >
                Samus
              </button>
            </form>
          </div>
        </div>

        <div class="col-lg-6">
          <% if (locals.name) { %>
          <h2 class="text-center text-danger"><%= name %></h2>
          <img
            src=" <%= image %> "
            alt="amiibo"
            style="max-height: 400px"
            loading="lazy"
          />
          <% } %>
        </div>

        <% if (locals.description) { %>
        <div class="col-12">
          <h2 class="text-danger">Description:</h2>
          <p class="lead"><%= description %></p>
        </div>

        <div class="col-12">
          <h2>API (Application Programming Interface) Information:</h2>
          <p class="text-break"><%= API_info %></p>
        </div>
        <% } %>
      </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
